.search {
    position: relative;
}

.iconSearch {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 5%;
}

.cardProduct {
	width: 208px;
	height: 278px;
	border-radius: 8px;
}

.imgListCart {
    width: 95px;
    height: 69px;
}

.shoppingCart {
    height: 15%;
}